  <div class="container">
    <div class="row vh-100" style="padding-top: 60px; padding-bottom: 20px">

      <div class="col-5">
        <div class="card h-100 border">
          <div class="card-header">
            <h4 class="headers">Crypto</h4>
          </div>
          <div class="card-body ">
            <div *ngIf="allCrypto$ | async as crypto" >
              <ul>
                <li class="cryptoList" *ngFor= "let eachCrypto of crypto">
                  {{eachCrypto.id}}: {{eachCrypto.name}} : {{eachCrypto.price}}: {{eachCrypto.description}}
                </li>
              </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
